/* IMPORTANT ROOT: CREATES DEFAULT STYLING ACROSS BROWSERS ON PAGE LOAD */
:root {
    --primary: #005f73;
    --secondary:  #EE9B00;
    --rich-black: #001219;
    --auburn: #9B2226;
    --rufous: #AE2012;
    --rust: #BB3E03;
    --alloy-orange: #CA6702;
    --columbia-blue: #C0D7DC;
    --alice-blue: #E0EBEE;
    --white: #ffffff;
}

/* CREATES A DARK/LIGHT MODE THAT CAN BE TOGGLED BY USER */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #005f73;
        --secondary:  #EE9B00;
        --rich-black: #001219;
        --auburn: #9B2226;
        --rufous: #AE2012;
        --rust: #BB3E03;
        --alloy-orange: #CA6702;
        --columbia-blue: #C0D7DC;
        --alice-blue: #E0EBEE;
        --white: #ffffff;
    }
  }
  
  /* CREATES A DARK THEME WHEN JS SWITCH IS ACTIVATED */
  [data-theme=dark],
  .dark-theme {
        --primary: #EE9B00;
        --secondary:  #005f73;
        --rich-black: #ffffff;
        --auburn: #E0EBEE;
        --rufous: #C0D7DC;
        --rust: #CA6702;
        --alloy-orange: #9B2226;
        --columbia-blue: #001219;
        --alice-blue: #00171F;
        --white: #001219;
  }

/* TEXT HEADER STYLES */
h1, h2 {
    margin: 5px;
    padding: 10px;
    font-weight: 700;
}

h3 {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

h4 {
color: var(--primary);
}

/* COLORING "GOLDEN" TEXT GOLD IN TITLE */
#golden {
    color: #EE9B00;
    text-transform: uppercase;
}

/* DEFAULT LINK & HOVER LINK STYLES */
a {
    color: #AE2012;
}

a:hover {
    color: #BB3E03;
}

/* DARK MODE HEADER BUTTON STYLES */
#headerRight {
    margin: auto 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
    border: 3px solid var(--rich-black);
    background-color: var(--primary);
    color: var(--white);
    border-radius: 15px;
    cursor: pointer;
}

#headerRight:hover {
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
}

#dark-mode-switch {
    cursor: pointer;
}

/* HEADER CONTAINER STYLES */
#headerDiv {
    margin: auto 0;
    padding: 20px;
    background-color: var(--columbia-blue);
    color: var(--rich-black);
}

/* ICON STYLES */
.icon-style {
    color: yellow;
}

/* SUBTITLE HEADER SECTION STYLES */
header .subtitle {
    margin: 0;
    padding: 20px;
    background-color: var(--alice-blue);
    color: var(--rich-black);
    text-align: center;
}

/* MAIN CONTENT SECTION STYLES */
.main-section {
    margin: auto 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--alice-blue);
    color: var(--rich-black);
}

/* SEARCH HISTORY SECTION STYLES */
.search-history-section {
    margin: auto 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--alice-blue);
    color: var(--rich-black);
}

/* SIDEBAR WITH TIME AND LOCATION SEARCH FORM */
aside {
    margin: auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--alloy-orange);
    text-align: center;
    border: 3px solid var(--rich-black);
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/* TIMESTAMP STYLES */
#timeStamp {
    font-size: 24px;
}

/* FORM TEXT INPUT FOR CURRENT AND DESIRED LOCATION */
#current-location-input, #desired-location-input {
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    background-color: var(--white);
    color: var(--rich-black);
    border-radius: 10px;
}

/* SUBMIT BUTTON & SUBMIT HOVER STYLES */
#submit {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
    border: 3px solid var(--rich-black);
    background-color: var(--primary);
    color: var(--white);
    border-radius: 15px;
}

#submit:hover {
    background-color: var(--secondary);
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
}

/* MAIN CONTENT AREA WITH SUNSET CONTAINERS AND INFO */
main {
    margin: auto 0;
    padding: 20px;
    color: var(--rich-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CONTAINER FOR TODAY AND NEXT SUNSET INFO */
.sunset-container {
    margin: 10px 5px;
    padding: 10px;
    border: 3px solid var(--rich-black);
    border-radius: 10px;
}

/* CONTAINER FOR SUNSET TIME, DUSK TIME, TIME LEFT, and GOLDEN TIME */
.box-container {
    margin: 10px;
    padding: 5px;
    border: 3px solid var(--rich-black);
    border-radius: 5px;
}

/* WEATHER DISPLAY STYLES */
.card{
    margin: 10px;
    border: 3px solid var(--rich-black);
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
}

.card-header {
    margin: 10px;
    padding: 10px;
}

.card-para {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
}

/* MODAL STYLES */
#modal-paragraph {
    font-weight: 700;
    font-size: 20px;
}

/* MAP STYLES */
#map {
    height: 310px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid var(--rich-black);
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
  }

/* FOOTER STYLES */
#footerDiv {
    margin: auto 0;
    padding: 20px;
    background-color: var(--columbia-blue);
    color: var(--rich-black);
}

/* SEARCH HISTORY STYLES */
.search-history-section ul li {
    display: inline;
    list-style: none;
    cursor: pointer;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid var(--rich-black);
    background-color: var(--primary);
    color: var(--white);
    border-radius: 15px;
 }
 
 .search-history-section ul li:hover {
    background-color: var(--secondary);
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);
 }
 

/* RESPONSIVE STYLES */
/* Small Desktops Responsive Settings */
@media screen and (max-width: 1200px) {
    .search-history-section ul li {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
  }

/* Tablets Responsive Settings */
@media screen and (max-width: 992px) {
    #footerDiv {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
    }
  }


/* Mobile Phones Responsive Settings */
@media screen and (max-width: 768px) {
    #headerDiv {
        flex-flow: column wrap;
        text-align: center;
    }
  }