/* IMPORTANT ROOT: Creates the default styling across browsers on page load */
:root {
    --primary: #005f73;
    --secondary:  #EE9B00;
    --rich-black: #001219;
    --auburn: #9B2226;
    --rufous: #AE2012;
    --rust: #BB3E03;
    --alloy-orange: #CA6702;
    --columbia-blue: #C0D7DC;
    --alice-blue: #E0EBEE;
    --white: #ffffff;
}

/* Creates a dark/light mode that can be switched and enabled through JS with user checkbox. */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #005f73;
        --secondary:  #EE9B00;
        --rich-black: #001219;
        --auburn: #9B2226;
        --rufous: #AE2012;
        --rust: #BB3E03;
        --alloy-orange: #CA6702;
        --columbia-blue: #C0D7DC;
        --alice-blue: #E0EBEE;
        --white: #ffffff;
    }
  }
  
  /* CREATES A DARK THEME WHEN SWITCH IS ACTIVATED */
  [data-theme=dark],
  .dark-theme {
        --primary: #EE9B00;
        --secondary:  #005f73;
        --rich-black: #ffffff;
        --auburn: #E0EBEE;
        --rufous: #C0D7DC;
        --rust: #CA6702;
        --alloy-orange: #BB3E03;
        --columbia-blue: #AE2012;
        --alice-blue: #9B2226;
        --white: #001219;
  }

/* TEXT HEADER STYLES */
h1, h2 {
    margin: 5px;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
}

h3 {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

h4 {
color: var(--primary);
}

/* HEADER CONTAINER STYLES */
#headerDiv {
    margin: auto 0;
    padding: 20px;
    background-color: var(--columbia-blue);
    color: var(--rich-black);
}

.icon-style {
    color: yellow;
}

header .subtitle {
    margin: 0;
    padding: 20px;
    background-color: var(--alice-blue);
    color: var(--rich-black);
    text-align: center;
}

.main-section {
    margin: auto 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--alice-blue);
    color: var(--rich-black)
}


.search-history-section {
    margin: auto 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--alice-blue);
    color: var(--rich-black)
}

/* ASIDE WITH CURRENT TIME AND FORM FOR LOCATION SEARCH */
aside {
    margin: auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--alloy-orange);
    text-align: center;
}

/* TIMESTAMP STYLES */
#timeStamp {
    font-size: 24px;
}

/* FORM TEXT INPUT FOR CURRENT AND DESIRED LOCATION */
#current-location-input, #desired-location-input {
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    background-color: var(--white);
    color: var(--rich-black);
}

/* SUBMIT BUTTON STYLES */
#submit {
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    font-weight: 700;
    border: 3px solid var(--rich-black);
    background-color: var(--primary);
    color: var(--white);
}

#submit:hover {
    background-color: var(--secondary);
}

/* MAIN CONTENT AREA WITH SUNSET CONTAINERS AND INFO */
main {
    margin: auto 0;
    padding: 20px;
    color: var(--rich-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* CONTAINER FOR TODAY AND NEXT SUNSET INFO */
.sunset-container {
    margin: auto 20px;
    padding: 10px;
    border: 3px solid var(--rich-black);
}

/* CONTAINER FOR SUNSET TIME, DUSK TIME, TIME LEFT, and GOLDEN TIME */
.box-container {
    margin: auto 10px;
    padding: 10px;
    border: 3px solid var(--rich-black);
}

/* MODAL STYLES */
#modal-paragraph {
    font-weight: 700;
    font-size: 20px;
}

/* MAP STYLES */
#map {
    height: 300px;
    width: 100%;
  }

/* FOOTER STYLES */
#footerDiv {
    margin: auto 0;
    padding: 20px;
    background-color: var(--columbia-blue);
    color: var(--rich-black);
}